body {
	background-color: #f1f2ee;
	font-family:Arial;
	font-size:14px;
	margin:0;
   	padding:0;
   	height:100%;
}

html, body, #container { height: 100%; max-width:1280px; }
body > #container { height: auto; min-height: 100%; }

h1 {
	font-size:2.5em;
	margin:0.3em;
}

.logo {
	background-color: #272727;
	border-bottom:solid 2px #898a87;
	color:#8e918c;
	text-align:center;
	margin-bottom:2em;
	width:100%;
}

#new-task {
	margin:0 auto;
	width:95%;
}

#task-container {
	max-width:600px;
}
#add-text {
	height: 30px;
	width: 80%;
	margin-top: 10px;
	margin-right: 4px;
}


#content { padding-bottom: 3em; }

#footer {

	background-color: #f6f6f6;
	border-top:solid 2px #e9e9e9;
 clear: both;
 position: relative;
 z-index: 10;
 height: 4.5em;
 margin-top: -4.5em;
 padding-top: 2em;
 text-align:center;
}
