body {
	background-color: #f6f6f6;
	font-family:Arial;
	font-size:14px;
	margin:0;
   	padding:0;
   	height:100%;
}

#container {
	background-color: #f1f2ee;
}

h1 {
	font-size:2.5em;
	margin:0.3em;
}

.logo {
	background-color: #272727;
	border-bottom:solid 2px #898a87;
	color:#8e918c;
	text-align:center;
	margin-bottom:2em;
	width:100%;
}

#add-task {
	margin:0 auto;
	width:95%;
}

#tasks-container {
	max-width:550px;
	min-width:300px;
}

#add-text {
	height: 30px;
	margin-top: 10px;
	margin-right: 4px;
	float:left;
	width:70%;
	min-width:200px;
}

#add-text-box {
	float:right;
	top: 10px;
	width: 25%;
	position: relative;
}


#content { padding-bottom: 3em; }

#footer {
	background-color: #f6f6f6;
	border-top:solid 2px #e9e9e9;
	clear: both;
	position: relative;
	z-index: 10;
	height: 4em;
	padding-top: 1.5em;
	text-align:center;
	color: #555;
	font-size: 0.85em;
}

.list {
	background-color: #fff;
	border: solid 1px #bdbdbd;
}

.list-item {
	min-width:250px;
}
.list-item a.icon-star,
.list-item a.icon-star-empty {
	margin-top:1px;
}

#todo-list-container .delete {
	float: right;
	display: none;
}

#todo-list-container td {
	height:28px;
	min-width:300px;
}
#todo-list-container td:hover .delete {
	display: block;
}

#todo-list-container span.list-item {
	margin-top: 5px;
	float: left;
}

#todo-list-container span.task-text {
	margin-left: 3px;
}

#todo-list-container .checked {
	color: #999;
}

#todo-list-container .checked span.task-text{
	text-decoration: line-through;
}

#todo-list-container input[type="checkbox"]{
	margin-top:1px;
}


#todo-list-container .checked a.icon-star,
#todo-list-container .checked a.icon-star-empty {
	display: none;
}

.clear-items {
	float: right;
}
